{% extends "base01.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    {% block title %} Como Utilizar {% endblock %}     
</head>
<body>
    {% block content %}
        <h2>Como Utilizar</h2>
        <br> <br>
        
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>
        <p>_______________________________________________________________________________________________</p>        
        <p>_______________________________________________________________________________________________</p>
    {% endblock %}  
</body>
</html>