{% extends "base01.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    {% block title %} Como Utilizar {% endblock %}     
</head>
<body>
    {% block content %}
    <div>
        <h1>Como Usar</h1>
        <br> 
    
        <h2>1. Navegação Geral</h2>            
        <p>Este site foi projetado para ser fácil de navegar. No menu de navegação, você encontrará links para as principais seções do site. Para acessar a página inicial, clique no link HomePage no menu de navegação. Esta página fornece uma visão geral do site e acesso rápido às outras seções.</p>
    
        <h2>2. Seção de Contato</h2>            
        <p>Para entrar em contato conosco, clique no link Contato no menu de navegação. Nesta seção, você encontrará um formulário de contato que pode ser preenchido para enviar suas dúvidas, sugestões ou comentários diretamente para nossa equipe.</p>
    
        <h2>3. Seção de Produtos</h2>            
        <p>Para visualizar os produtos que oferecemos, clique no link Produtos no menu de navegação. Nesta página, você encontrará uma lista dos produtos disponíveis, com descrições e preços, caso aplicável.</p>
    
        <h2>4. Busca e Acessibilidade</h2>            
        <p>Se o site possuir uma funcionalidade de busca, você pode usá-la para encontrar informações específicas digitando palavras-chave na barra de busca, geralmente localizada no topo da página. Além disso, nosso site é projetado para ser acessível e responsivo, garantindo uma boa experiência de navegação em dispositivos móveis e desktop.</p>
    
        <h2>5. Suporte</h2>            
        <p>Se você encontrar qualquer dificuldade ao utilizar o site ou tiver perguntas adicionais sobre sua navegação, não hesite em entrar em contato conosco através da seção Contato. Estamos aqui para ajudar!</p>
    </div>
    
        
    {% endblock %}  
</body>
</html>