{% extends "base02.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    {% block title %} Contato {% endblock %}     
</head>
<body>

    {% block content %} 
        <div class="page-content">
            <div class="welcome">
                <h1>Entre em contato</h1>
                <p>Utilize o formulário abaixo para entrar em contato</p>
            </div>
            <div class="contact-form">
                <form>
                    <label for="name">Nome:</label>
                    <input type="text" id="name" name="name">
                    
                    <label for="motivo">Motivo do contato:</label>
                    <input type="text" id="motivo" name="motivo">
                    
                    <input type="submit" value="Enviar">
                </form>
            </div>
        </div>
    {% endblock %}  
</body>
</html>
