{% extends "base02.html" %}
  
{% block title %} Home {% endblock %}     

<body>

    {% block navbar %} 
        <nav>
            <div class="navbar">
                <a href="homePage.html">Home Page</a>
                <a href="contato.html">Contato</a>
                <a href="produtos.html">Produtos</a>
            </div>            
        </nav>
    {% endblock %}

    <br>

    {% block content %}
        <h2>Home</h2>
        <img src="" alt="">
    {% endblock %}

    <hr>

    {% block footer %} 
        <div class="line-developed">
            <h3>Desenvolvido por Arthur Lessa, 2024</h3>
        </div>
        <footer>            
            <div class="foot">                
                <a href="/templates/comoUtilizar.html">Como Utilizar</a>                  
                <a href="/templates/politicaPrivacidade.html">Política de Privacidade</a>    
                <a href="/templates/termosDeUso.html">Termos de Uso</a>  
            </div>            
        </footer>
    {% endblock %}
</body>
</html>