{% extends "base02.html" %}
  
{% block title %} Home {% endblock %}     

<body>

    {% block content %}
        <div class="welcome">
            <h1>Home</h1>
            <p>É com grande entusiasmo que recebemos você em nossa loja online, um espaço dedicado a oferecer o melhor em produtos naturais e orgânicos. Aqui, você encontrará uma seleção cuidadosamente escolhida de alimentos frescos, produtos de beleza e suplementos alimentares.</p>
            <p>Explore nossas categorias para descobrir alimentos orgânicos de alta qualidade, produtos de beleza feitos com ingredientes naturais e suplementos que promovem uma vida saudável. Nossa interface foi projetada para proporcionar uma experiência de navegação simples e agradável.</p>
            <p>Seja você um entusiasta da saúde ou alguém em busca de opções naturais para seu dia a dia, esperamos que nossa loja seja uma fonte de inspiração e bem-estar. Sinta-se à vontade para explorar nossos produtos e encontrar o que melhor se adapta às suas necessidades.</p>
            <p>Obrigado por visitar nossa loja! Estamos ansiosos para que você descubra tudo o que oferecemos e aproveite ao máximo os benefícios dos nossos produtos naturais e orgânicos. Se tiver dúvidas ou precisar de assistência, não hesite em nos contatar através das opções disponíveis em nosso site.</p>
        </div>
    {% endblock %}

</body>
</html>