{% extends "base01.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    {% block title %} Política de Privacidade {% endblock %}     
</head>
<body>
    {% block content %}
    <div>
        <h1>Política de Privacidade</h1>
        <br> 
    
        <h2>1. Informações Coletadas</h2>            
        <p>Coletamos informações pessoais que você nos fornece diretamente, como nome, e-mail e dados de contato, quando você se registra em nosso site ou entra em contato conosco. Também coletamos informações sobre seu uso do site através de cookies e outras tecnologias de rastreamento.</p>
    
        <h2>2. Uso das Informações</h2>            
        <p>Utilizamos suas informações para fornecer e melhorar nossos serviços, responder a suas perguntas, enviar atualizações e ofertas relevantes e garantir a segurança e o funcionamento adequado do site. Seus dados não serão vendidos ou alugados a terceiros.</p>
    
        <h2>3. Compartilhamento de Informações</h2>            
        <p>Podemos compartilhar suas informações com prestadores de serviços terceiros que nos auxiliam na operação do site e no atendimento ao cliente, desde que esses terceiros concordem em manter a confidencialidade de suas informações. Também podemos divulgar suas informações quando exigido por lei ou para proteger nossos direitos.</p>
    
        <h2>4. Segurança</h2>            
        <p>Tomamos medidas de segurança razoáveis para proteger suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição. No entanto, nenhuma transmissão de dados pela internet é completamente segura, e não podemos garantir a segurança absoluta de suas informações.</p>
    
        <h2>5. Seus Direitos</h2>            
        <p>Você tem o direito de acessar, corrigir ou excluir suas informações pessoais a qualquer momento. Se você desejar exercer qualquer um desses direitos, entre em contato conosco através do e-mail fornecido abaixo.</p>
    
        <h2>6. Alterações na Política</h2>            
        <p>Podemos atualizar esta Política de Privacidade periodicamente para refletir mudanças em nossas práticas ou por outros motivos legais. Recomendamos que você revise esta página regularmente para estar ciente de quaisquer alterações.</p>
    
        <h2>7. Contato</h2>            
        <p>Se você tiver dúvidas ou preocupações sobre nossa Política de Privacidade, entre em contato conosco através do e-mail thurlessaf@gmail.com.</p>            
    </div>    
    {% endblock %}  
</body>
</html>