{% extends "base01.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>    
    {% block title %} Termos de Uso {% endblock %}     
</head>
<body>
    {% block content %}
        <div>
            <h1>Termos de Uso</h1>
            <br> 
            
            <h2>1. Aceitação dos Termos</h2>            
            <p>Ao acessar e usar este site, você concorda em cumprir e estar vinculado aos seguintes Termos de Uso. Se você não concordar com qualquer parte destes termos, por favor, não use nosso site.</p>

            <h2>2. Modificações dos Termos</h2>            
            <p>Reservamo-nos o direito de modificar estes Termos de Uso a qualquer momento. Quaisquer alterações serão publicadas nesta página e entrarão em vigor imediatamente após a publicação. É sua responsabilidade revisar periodicamente estes termos para estar ciente de quaisquer modificações.</p>

            <h2>3. Uso do Site</h2>            
            <p>Você concorda em usar este site apenas para fins legais e de acordo com todas as leis e regulamentos aplicáveis. Você não deve usar o site de qualquer maneira que possa danificar, desativar, sobrecarregar ou prejudicar o site ou interferir no uso de terceiros.</p>

            <h2>4. Propriedade Intelectual</h2>            
            <p>Todo o conteúdo deste site, incluindo, mas não se limitando a textos, gráficos, logotipos, ícones, imagens e software, é de propriedade de [Nome da Empresa] ou de seus licenciadores e está protegido por leis de propriedade intelectual. É proibida a reprodução, distribuição, modificação ou exibição não autorizada de qualquer conteúdo deste site.</p>

            <h2>5. Links para Sites de Terceiros</h2>            
            <p>Este site pode conter links para sites de terceiros. Esses links são fornecidos apenas para sua conveniência. Não temos controle sobre o conteúdo ou a disponibilidade desses sites e não endossamos, nem assumimos responsabilidade por qualquer conteúdo ou material disponível em tais sites.</p>

            <h2>6. Isenção de Responsabilidade</h2>            
            <p>O site e todo o seu conteúdo são fornecidos "como estão" e "conforme disponível". Não garantimos que o site esteja livre de erros ou interrupções. Não assumimos qualquer responsabilidade por danos diretos, indiretos, acidentais, especiais ou consequenciais resultantes do uso ou da incapacidade de usar o site.</p>

            <h2>7. Limitação de Responsabilidade</h2>            
            <p>Na máxima extensão permitida pela lei aplicável, [Nome da Empresa] não será responsável por qualquer perda ou dano, incluindo, sem limitação, danos diretos, indiretos, acidentais, punitivos e consequenciais, que surjam em conexão com o uso do site.</p>

            <h2>8. Privacidade</h2>
            <p>Sua privacidade é importante para nós. Nossa Política de Privacidade descreve como coletamos, usamos e protegemos suas informações pessoais. Ao usar nosso site, você concorda com a nossa Política de Privacidade.</p>

            <h2>9. Contato</h2>            
            <p>Se você tiver alguma dúvida sobre estes Termos de Uso, entre em contato conosco através do e-mail thurlessaf@gmail.com.</p>            
        </div>       

    {% endblock %}  
</body>
</html>